{% extends 'base.html.twig' %}

{% block body %}
    <h1>Liste des Albums</h1>

    <table class="form">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Artiste</th>
                <th>Genre</th>
                <th>Support</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for album in albums %}
            <tr>
                <td><a href="{{ path('_show', { 'id': album.id }) }}">{{ album.id }}</a></td>
                <td>{{ album.title }}</td>
                <td>{{ album.artiste }}</td>
                <td>{{ album.genre }}</td>
                <td>{{ album.support }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': album.id }) }}">Voir</a>
                        </li>
                        <li>
                            <a href="{{ path('_edit', { 'id': album.id }) }}">Modifier</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_new') }}">Créer un nouvel album</a>
        </li>
    </ul>
{% endblock %}
